<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
    <title>Boolzap</title>
</head>

<body class="bg-gradient-to-b from-green-200 to-green-400 h-screen">
    <div id="app" class="flex justify-center items-center h-full py-3">
        <div id="app-container" class="w-2/3 h-full flex">
            <div class="app-container-left w-1/2 flex flex-col">
                <div class="a-c-l-topbar h-[35px]  bg-slate-200 flex items-center justify-between gap-5 px-2 py-5 ">
                    <div class="flex items-center text-xs gap-2">
                        <img :src="user.propic" alt="" class="avatar">
                        <span class="active-name"> {{user.name}} </span>
                    </div>

                    <div class="top-icons flex gap-3 text-xs  text-gray-400">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div
                    class="a-c-l-searchbar  bg-white  text-gray-400 px-4 py-1 text-xs flex items-center gap-3 border-b-2">
                    <i class="fa-solid fa-magnifying-glass mt-[2px]"></i>
                    <input type="text" name="" id="" placeholder="Cerca o inizia una nuova chat"
                        class="w-full px-2 py-1 text-[10px]" v-model="searchString">
                </div>
                <div class="a-c-l-chat-list flex-grow  bg-white overflow-scroll">
                    <div class="chat-left flex gap-3 py-2 px-4 border-b-2 cursor-pointer"
                        v-for="(contact, index) in contacts" :class="index === activeChat? 'active' : ''"
                        @click="changeChat(index)" v-if="!searchString">
                        <img :src="contact.avatar" alt="" class="avatar">
                        <div class="user-info text-xs flex flex-col w-3/4">
                            <span class="user-name text-gray-950">
                                {{contact.name}}
                            </span>
                            <span class="last-seen text-[8px] text-gray-400">
                                {{contact.messages[contact.messages.length - 1].message}}
                            </span>
                        </div>
                        <span class="last-message-time  text-gray-400 text-[8px]">
                            {{contact.messages[contact.messages.length - 1].date}}
                        </span>
                    </div>
                    <div class="chat-left flex gap-3 py-2 px-4 border-b-2 cursor-pointer"
                        v-for="(contact, index) in contacts" :class="index === activeChat? 'active' : ''"
                        @click="changeChat(index)"
                        v-show="searchString && contact.name.toLowerCase().includes(searchString) || searchString && contact.name.toLowerCase().startsWith(searchString.toLowerCase())">
                        <img :src="contact.avatar" alt="" class="avatar">
                        <div class="user-info text-xs flex flex-col w-3/4">
                            <span class="user-name text-gray-950">
                                {{contact.name}}
                            </span>
                            <span class="last-seen text-[8px] text-gray-400">
                                {{contact.messages[contact.messages.length - 1].message}}
                            </span>
                        </div>
                        <span class="last-message-time  text-gray-400 text-[8px]">
                            {{contact.messages[contact.messages.length - 1].date}}
                        </span>
                    </div>



                </div>
            </div>
            <div class="app-container-right w-2/3  flex flex-col">
                <div
                    class="a-c-r-topbar h-[35px]  bg-slate-200 flex items-center gap-5 px-2 py-5 border-l-2 border-l-gray-400">
                    <img :src="contacts[activeChat].avatar" alt="" class="avatar">
                    <div class="user-info text-xs flex flex-col w-3/4">
                        <span class="user-name text-gray-950">
                            {{contacts[activeChat].name}}
                        </span>
                        <span class="last-seen text-[8px] text-gray-400">
                            {{contacts[activeChat].status}}
                        </span>
                    </div>
                    <div class="top-icons flex gap-3 text-xs  text-gray-400">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="a-c-r-message-box flex-grow px-12 py-4 bg-[url('/img/mine.jpg')] overflow-y-auto">
                    <div class="message" v-for="(message, index) in contacts[activeChat].messages"
                        :class="message.status==='sent'? 'from-user':'from-others'">
                        <span class="message-content">{{message.message}}</span>
                        <span class="message-time"> {{message.date}} </span>
                        <img :src="message.media" alt="" class="w-[100px]">
                        <i class="fa-regular fa-circle-xmark text-[10px]" @click="deleteMessage(index)"></i>
                    </div>
                </div>
                <div
                    class="a-c-r-bottombar h-[35px]  bg-slate-200 flex items-center justify-around py-5 border-l-2 border-l-gray-400">
                    <i class="fa-regular fa-face-smile text-gray-700"></i>
                    <input type="text" name="" id="" placeholder="Scrivi un messaggio...."
                        class="w-3/5 px-2 py-1 h-[30px] text-xs" v-model="newMessage.message"
                        @keyup.enter="sendMessage">
                    <div class="flex gap-4">
                        <i class="fa-solid fa-microphone  text-gray-700"></i>
                        <i class="fa-solid fa-paper-plane  text-gray-700" v-show="newMessage" @click="sendMessage"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>





    <script src=" https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="contacts.js"></script>
    <script src="main.js"></script>
</body>

</html>